* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #292235;
}

.lower {
    display: flex;
    margin: 5px;
    align-items: center;
    margin-left: 100px;
    cursor: pointer;
    max-width: 30%;
    color: lightgray;
}

.lower:hover {
    color: cadetblue;
}

.lower img {
    width: 40px;
    height: 50px;
    border-radius: 5%;
    margin: 5px 15px;
}

.upper {
    display: flex;
    margin: 40px 60px;
    color: darkgray;
}

.upper h2 {
    color: darkkhaki;
    font-weight: bold;
    font-style: italic;
}

.upper svg {
    color: gold;
    margin: 5px;
}

.upper Img {
    width: 200px;
    height: 300px;
    margin: 15px;
}

.upper h5 {
    margin: 2px;
}